CompileFlags:
  CompilationDatabase: build/debug

Diagnostics:
  ClangTidy:
    Add:
      - readability-identifier-naming
      - bugprone-*
      - modernize-*
    CheckOptions:
      readability-identifier-naming.VariableCase: camelBack
      readability-identifier-naming.LocalVariableCase: camelBack
      readability-identifier-naming.ParameterCase: camelBack

      readability-identifier-naming.GlobalVariableCase: camelBack
      readability-identifier-naming.GlobalVariablePrefix: "g_"
      readability-identifier-naming.StaticVariableCase: camelBack
      readability-identifier-naming.StaticVariablePrefix: "s_"

      readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
      readability-identifier-naming.ConstexprVariablePrefix: "k"

      readability-identifier-naming.MemberCase: camelBack
      readability-identifier-naming.MemberPrefix: "m_"
      readability-identifier-naming.PrivateMemberCase: camelBack
      readability-identifier-naming.PrivateMemberPrefix: "m_"
      readability-identifier-naming.PublicMemberCase: camelBack

      readability-identifier-naming.IgnoreMainLikeFunctions: true
